<div class="main-container {{ current.status }}">
  <h1>{{ current.status }}</h1>

  <h1>{{ current.date }}</h1>


  <button (click)="updateStatus()">Change day</button>

  <button (click)="getLocation()">Get location</button>

  <div class="demo"></div>


  <h1>Weather</h1>
  <div class="container">
    <div class="weather-sun">
      <div class="sun">
        <div class="rays"></div>
        <div class="rays"></div>
        <div class="rays"></div>
        <div class="rays"></div>
      </div>
    </div>
    <div class="weather-cloud">
      <div class="cloud"></div>
      <div class="cloud"></div>
    </div>
    <div class="weather-snow">
      <div class="snow">
        <div class="f"></div>
      </div>
    </div>
    <div class="weather-cloudAndSun">
      <div class="cloud"></div>
      <div class="sun">
        <div class="rays"></div>
        <div class="rays"></div>
        <div class="rays"></div>
        <div class="rays"></div>
      </div>
    </div>
    <div class="weather-rain">
      <div class="cloud"></div>
      <div class="rain"></div>
      <div class="rain"></div>
      <div class="rain"></div>
      <div class="rain"></div>
    </div>
  </div>
</div>

