<div class="main-container {{ current.status }}">
  <div class="weather-status">

    <div class="background">
    </div>
    <div class="header">
      <div class="location">
        <img src="../assets/svg/location-dot-solid.svg" alt="">
        <div>Nezahualcoyotl</div>
      </div>

      <div class="menu">
        <div class="bars">bars</div>
      </div>
    </div>

    <div class="stadistics">
      <div class="temperature">23°</div>
      <div class="day-status">{{ current.status }}</div>
    </div>
  </div>

  <div class="weather-details">
    <div class="title">
      Weather Today
    </div>
    <div class="weather-by-day">
      <div class="weather-item">
        <div class="w-icon">Icon</div>
        <div class="w-hour">5:00 AM</div>
        <div class="w-temperature">23°</div>
      </div>
      <div class="weather-item">
        <div class="w-icon">Icon</div>
        <div class="w-hour">5:00 AM</div>
        <div class="w-temperature">23°</div>
      </div>
      <div class="weather-item">
        <div class="w-icon">Icon</div>
        <div class="w-hour">5:00 AM</div>
        <div class="w-temperature">23°</div>
      </div>
      <div class="weather-item">
        <div class="w-icon">Icon</div>
        <div class="w-hour">5:00 AM</div>
        <div class="w-temperature">23°</div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="false">
    

  <h1>{{ current.status }}</h1>

  <h1>{{ current.date }}</h1>


  <button (click)="updateStatus()">Change day</button>

  <button (click)="getLocation()">Get location</button>

  <div class="demo"></div>

  <div class="container">
    <div class="weather-sun">
      <div class="sun">
        <div class="rays"></div>
        <div class="rays"></div>
        <div class="rays"></div>
        <div class="rays"></div>
      </div>
    </div>
    <div class="weather-cloud">
      <div class="cloud"></div>
      <div class="cloud"></div>
    </div>
    <div class="weather-snow">
      <div class="snow">
        <div class="f"></div>
      </div>
    </div>
    <div class="weather-cloudAndSun">
      <div class="cloud"></div>
      <div class="sun">
        <div class="rays"></div>
        <div class="rays"></div>
        <div class="rays"></div>
        <div class="rays"></div>
      </div>
    </div>
    <div class="weather-rain">
      <div class="cloud"></div>
      <div class="rain"></div>
      <div class="rain"></div>
      <div class="rain"></div>
      <div class="rain"></div>
    </div>
  </div>
  </ng-container>
</div>

